@model Projekt.Models.Match

@{
    ViewData["Title"] = "Edytuj mecz -";
}

<h1>Edytuj mecz</h1>

<h4>Mecz:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeTeamPoints" class="control-label"></label>
                <input asp-for="HomeTeamPoints" class="form-control" />
                <span asp-validation-for="HomeTeamPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayTeamPoints" class="control-label"></label>
                <input asp-for="AwayTeamPoints" class="form-control" />
                <span asp-validation-for="AwayTeamPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MatchTeamCombinations[0].TeamId, "Drużyna gospodarzy")
                @Html.DropDownListFor(model => model.MatchTeamCombinations[0].TeamId, ViewBag.Teams as SelectList, "Wybierz drużynę", new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MatchTeamCombinations[1].TeamId, "Drużyna gości")
                @Html.DropDownListFor(model => model.MatchTeamCombinations[1].TeamId, ViewBag.Teams as SelectList, "Wybierz drużynę", new { @class = "form-control" })
            </div>

            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" style="margin-top: 10px;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" style="margin-top: 10px;" asp-action="Index">Wróć</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
